.form {
  min-width: 32rem;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.card-image {
  position: absolute;
  right: 1rem;
  top: 38%;
  width: 5rem;
  height: 3rem;
  /* background-color: royalblue; */
  background-image: url(../assets/bg-card-front.png);
  object-fit: contain;
  background-position: top;
  background-size: cover;
  border-radius: 3px;
  /* overflow: hidden; */
  animation: fadeIn 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.amex {
  background-image: url(../assets/cards/americanexpress.png);
}

.mastercard {
  background-image: url(../assets/cards/mastercard.png);
}

.visa {
  background-image: url(../assets/cards/visa02.png);
}

.diners {
  background-image: url(../assets/cards/dinersclub.png);
}

.discover {
  background-image: url(../assets/cards/discover.png);
}

.form-group label {
  font-size: 1.6rem;
  color: var(--color-violet-dark);
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-group input {
  outline: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border: none;
  font-family: inherit;
  letter-spacing: 1px;
  color: var(--color-violet-dark);
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-group input::placeholder {
  color: var(--color-violet-light);
  /* text-transform: uppercase; */
}

.form-group input:focus + .border-bottom {
  background-image: var(--color-primary-gradient);
}

.form-group input:focus {
  background-color: hsla(270, 3%, 87%, 0.336);
}

.form-group.invalid input + .border-bottom {
  background-image: none;
  background-color: var(--color-red);
}

.form-group.invalid input {
  background-color: hsla(0, 100%, 66%, 0.058);
}

.border-bottom {
  height: 3px;
  /* DADSHED BOTTOM BORDER */
  /* background-image: linear-gradient(
      90deg,
      transparent,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  background-size: 20px 3px, 100% 3px; */
  border: none;
  background-color: var(--color-violet-light);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.form-bottom {
  display: flex;
  gap: 2rem;
}

.error {
  color: var(--color-red);
  height: 1.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 4px;
}

.form-btn:disabled,
.form-btn:disabled:active,
.form-btn:disabled:hover {
  color: rgb(234, 239, 243);
  cursor: not-allowed;
  background-color: var(--color-violet-medium);
}

@media screen and (max-width: 63.25em) {
  .form-bottom {
    flex-direction: column;
  }
}

@media screen and (max-width: 48em) {
  .form {
    margin-top: 15rem;
  }
}

@media screen and (max-width: 37.6em) {
  .form {
    margin-top: 8rem;
  }

  .form-bottom {
    flex-direction: column;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
